.service-container{
    width: 16.666% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}
.service-btn{
    width: 100pt !important;
    height: 100pt !important;
    border-radius: 21pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue-purple{
    background: linear-gradient(#66B0FE, #9866FE);
    filter: drop-shadow(0 10pt 10pt #66B0FE54);
}
.pink-red{
    background: linear-gradient(#FE49F6, #FE4974);
    filter: drop-shadow(0 10pt 10pt #FE49F654);
}
.yellow-lime{
    background: linear-gradient(#FEDF17, #A2FE17);
    filter: drop-shadow(0 10pt 10pt #FEE11754);
}
.green-blue{
    background: linear-gradient(#16CF8B, #16B6CF);
    filter: drop-shadow(0 10pt 10pt #16CF6B54);
}
.orange-yellow{
    background: linear-gradient(#FE9E18, #FEDF18);
    filter: drop-shadow(0 10pt 10pt #FE9E1854);
}

.service-btn svg{
    color: white;
    width: 55pt;
    height: 55pt;
    text-align: center;
}

.service-title{
    text-align: center;
}
.service-title p{
    font-size:15px;
    text-transform: uppercase;
    font-weight: bold;
    line-height:1;
    margin-top: 10px;
    
}

@media screen and (max-width: 1300px) {
    .service-container{
        width: 20% !important;
    }
}

@media screen and (max-width: 970px) {
    .service-container{
        width: 25% !important;
    }
    .service-btn{
        width: 80pt !important;
        height: 80pt !important;
        border-radius: 15pt;
    }
    .service-btn svg{
        width: 40pt;
        height: 40pt;
    }
}

@media screen and (max-width: 668px) {
    .service-container{
        width: 33.333% !important;
    }
}

