/* .calComLogo{
    max-width: 136pt !important;
    max-height: 109.5pt;
}

.dignityLogo{
    max-width: 217.69pt !important;
    max-height: 61.82pt;
    margin-top: 2.5% !important;
}

.phinellsLogo{
    max-width: 115pt !important;
    max-height: 109.5pt;
}

.tacoBellLogo{
    max-width: 194.56pt !important;
    max-height: 109.5pt;
}

.sierraLogo{
    max-width: 219pt !important;
    max-height: 87.6pt;
}

.calaverasLogo{
    max-width: 136.36pt !important;
    max-height: 110pt;
} */

.sponsorImg{
    width: 100%;
    /* max-height: 109.5px; */
    display:block; 
    margin: auto;
}

.sierraLogo{
    width: 110%;
}


.dignityLogo{
   width: 120%;
   margin-top:10%;
}

.sponsorRow{
    align-items: center;
}

@media screen and (max-width: 768px){
    .sponsorImg{
        width: 80%;
        display:block; 
        margin: auto;
        margin-bottom: 30px;
    }
    .dignityLogo{
        width: 100%;
        margin-top:10%;
     }

     .sierraLogo{
        width: 90%;
    }
    .phinellsLogo{
        width: 70%;
    }
}

@media screen and (max-width: 425px){
    .sponsorImg{
        width: 50%;
        display:block; 
        margin: auto;
        margin-bottom: 30px;
    }
    .dignityLogo{
        width: 70%;
        margin-top:10%;
     }

     .sierraLogo{
        width: 60%;
    }
    .phinellsLogo{
        width: 50%;
    }
}