/* .sponsorTxt{
    margin-bottom: 0px !important;
} */

.calComLogo{
    width: 136px !important;
    height: 100%;
}

.dignityLogo{
    width: 217.69px !important;
    height: 61.82px;
    margin-top: 2.5% !important;
}

.phinellsLogo{
    width: 115px !important;
    height: 109.5px;
}

.tacoBellLogo{
    width: 160.56px !important;
    height: 109.5px;
}

.sierraLogo{
    width: 219px !important;
    height: 87.6px;
}

.calaverasLogo{
    width: 136.36px !important;
    height: 110px;
}