.boldTxt{
    font-weight: bold;
}

.sponsorImg{
    width: 100%;
    /* max-height: 109.5px; */
    display:block; 
    margin: auto;
}

.sierraLogo{
    width: 110%;
}


.dignityLogo{
   width: 120%;
   margin-top:10%;
}

.sponsorRow{
    align-items: center;
}


@media screen and (max-width: 998px){
    .sponsorImg{
        width: 60%;
        display:block; 
        margin: auto;
        margin-bottom: 30px;
    }
    .dignityLogo{
        width: 80%;
        margin-top:10%;
     }

     .sierraLogo{
        width: 70%;
    }
    .phinellsLogo{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    .sponsorImg{
        width: 80%;
        display:block; 
        margin: auto;
        margin-bottom: 30px;
    }
    .dignityLogo{
        width: 100%;
        margin-top:10%;
     }

     .sierraLogo{
        width: 90%;
    }
    .phinellsLogo{
        width: 70%;
    }
}

@media screen and (max-width: 760px){
    .sponsorImg{
        width: 50%;
        display:block; 
        margin: auto;
        margin-bottom: 30px;
    }
    .dignityLogo{
        width: 70%;
        margin-top:10%;
     }

     .sierraLogo{
        width: 60%;
    }
    .phinellsLogo{
        width: 50%;
    }
}